name: iOS workflow

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build:
    name: Build and Test default scheme using any available iPhone simulator
    runs-on: macos-15

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Enable macros
        run: |
          defaults write com.apple.dt.Xcode IDESkipMacroFingerprintValidation -bool YES
      - name: Fetch xcframework dependency
        uses: dsaltares/fetch-gh-release-asset@master
        with:
          repo: 'vexonius/fesb-companion-shared'
          version: 'tags/0.1.1'
          file: 'shared.xcframework.zip'
          token: ${{ secrets.GH_TOKEN }}
      - name: Unzip and move xcframework
        run: |
          unzip -o file.zip
          mv shared.xcframework FESBCompanion/shared.xcframework
      - name: Install tuist
        run: |
          brew install tuist
          tuist generate --no-open
      - name: Lint
        run: |
          brew install swiftlint
          swiftlint lint --reporter github-actions-logging --strict
      - name: Build
        run: |
          tuist build FESBCompanion
